@media (width > 768px) {
   nav {
      position: static;
      padding: 2rem 1rem;
      max-width: var(--max-width);
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
   }

   .navbar {
      background-color: transparent;
      z-index: 1;
   }

   .nav__menu__btn {
      display: none;
   }

   .nav__links {
      position: static;
      padding: 0;
      flex-direction: row;
      background-color: transparent;
      transform: none;
   }
}
