@media (width > 768px) {
.header__content {
  max-width: var(--max-width);
  display: flex;
  width: 200rem;
  margin-inline: auto;
}

   nav {
      position: static;
      padding: 2rem 1rem;
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
   }

   .navbar {
      background-color: transparent;
      z-index: 1;
   }

   .nav__menu__btn {
      display: none;
   }

   .nav__links {
      position: static;
      padding: 0;
      flex-direction: row;
      background-color: transparent;
      transform: none;
   }

   .home__container {
    padding-block: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 10rem;
  }

  .home__content {
    padding-block: 5rem;
    grid-area: 1/1/2/2;
  }
}
