@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
   --primary-color: #f92524;
   --primary-color-dark: #e91a1a;
   --secondary-color: #faf9fe;
   --text-dark: #0f172a;
   --text-light: #64748b;
   --white: #ffffff;
   --max-width: 1200px;
}

html,
body {
   scroll-behavior: smooth;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: "Poppins", sans-serif;
}

img {
   display: flex;
   width: 100%;
}

a {
   text-decoration: none;
   white-space: nowrap;
}

button {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
 }
 
 button:hover {
    background-color: var(--primary-color-dark);
 }
 